<div class=" card politika">
    <div class="card-body">
        <h2 class="card-title">Politika zaštite podataka</h2>
        <div>
            <p>Cilj platforme PronađiPosao je kandidatima olakšati pronalazak posla, a poslodavcima
                pronalazak prikladnog kandidata za otvoreno radno mjesto.<br>
                Ključ je osigurati zaštitu osobnih podataka u sustavu, stoga su je politika zaštite podataka izrađena u skladu s Općom uredbom
                o zaštiti osobnih podataka.<br> Uredba se odnosi na prikupljanje, obradu i zaštitu podataka korisnika platforme PronađiPosao.
            </p>
        </div>
        <div>
            <h5>1. Kontakt informacije platforme PronađiPosao</h5>
            <p>
                Ako imate bilo kakva pitanja vezana uz politiku privatnosti i Vaše podatke, slobodno nas kontaktirajte.<br>
                Službeni email platforme: pronađiposao@gmail.com<br>
                Predstavnik: Josipa Mataić<br>
                Email predstavnika: josipamataic**@gmail.com<br>
                Broj mobitela: 099****075<br>
            </p>
        </div>
        <div>
            <h5>2. Svrha obrade podataka</h5>
            <p>
                Platforma PronađiPosao prikuplja osobne podatke kandidata u svrhu pružanja usluga: prijavljivanja na oglase, 
                kontaktiranja kandidata u slučaju oglasa sličnim njihovim interesima, pronalaska prikladnih kandidata za otvoreno 
                radno mjesto. Osobni podaci kandidata obrađuju se isključivo ako je kandidat dao eksplicitni pristanak na njihovu obradu.
                Kandidata se traži pristanak prilikom svakog prikupljanja podataka u sustavu.
                Osim pristanka, osobni podaci kandidata se mogu prikupljati i obrađivati i ako postoji određena zakonska obveza
                koju je potrebno ispuniti.
            </p>
        </div>
        <div>
            <h5>3. Osobni podaci i način njihovog prikupljanja</h5>
            <p>
                Osobni podaci koji se prikupljaju na platformi PronađiPosao su direktno prikupljani od kandidata.
                Neke podatke je nužno ispuniti za korištenje usluga platforme, što će biti objašnjeno u nastavku.        
                Podaci se prikupljaju na raznim mjestima u platformi:
            </p>
            <h6>3.1 Podaci za registraciju</h6>
            <p>Za registraciju računa na platformi PronađiPosao potrebno je unijeti podatke: korisničko ime koje ne mora biti ni na koji način
                osnova za identificiranje kandidata, email adresa i lozinka.
            </p>
            <h6>3.2 Podaci profila</h6>
            <p>Kandidat može popuniti podatke o sebi na profilu. Podaci koje može pohraniti su: ime, prezime, email adresa,
                broj mobitela, datum rođenja, industrija kojom se bavi, obrazovanje, država u kojoj se nalazi i odabir vidljivosti profila.
                Ove podatke nije obavezno ispuniti. Ako podaci nisu ispunjeni kandidat može pregledavati poslodavce i oglase. 
                U svrhu prijave na oglas potrebno je unijeti podatke ime, prezime i obrazovanje.
            </p>
            <h6>3.2 Podaci prijave</h6>
            <p>Neki oglasi imaju pitanja na koja je potrebno odgovoriti prilikom prijave. Osobni podaci koji se prikupljaju kroz pitanja
                za prijavu na 
                oglas razlikuju se ovisno o oglasu, a kandidat je upozoren i zatražen je pristanak prilikom njihova prikupljanja.
                Ako kandidat odgovori na pitanja i da pristanak, njegovi odgovori se pohranjuju i vidljivi su poslodavcu koji je
                objavio taj oglas.
            </p>
        </div>
        <div>
            <h5>4. Zadržavanje osobnih podataka</h5>    
            <h6>4.1 Podaci profila</h6>
            <p>
                Osobni podaci profila čuvaju se sve dok ih kandidat ne obriše. To se odnosi na ime, prezime, email adresu,
                broj mobitela, datum rođenja, industriju, obrazovanje i lokaciju. 
                Kandidat u svakom trenutku može obrisati bio koji podatak profila. Podatak će automatski biti uklonjeni iz baze te 
                više neće biti vidljiv u sustavu.
            </p>
            <h6>4.2 Podaci o prijavi</h6>
            <p>   
                Kandidat u svakom trenutku može obrisati podatke prijave koji uključuju odgovore na pitanja i oni će automatski biti
                uklonjeni iz baze te više neće biti vidljivi u sustavu.        
                Ako kandidat ne obriše prijavu, podaci prijave uključujući odgovore čuvaju se dok se oglas ne arhivira od strane poslodavca 
                ili obriše. Ako je kandidat odabrao javnu vidljivost profila, arhiviranjem oglasa se
                u sustavu zadržava njegova prijava kako bi mu poslodavac mogao poslati obavijest o sličnim oglasima, a 
                odgovori se brišu. Ako je kandidat odabrao 
                privatnu vidljivost profila, i prijava i odgovori se brišu prilikom arhiviranja oglasa.                
                Podaci o prijavi i odgovori brišu se brisanjem oglasa.                
            </p>
        </div>
        <div>
            <h5>5. Tko ima pristup Vašim osobnim podacima</h5>
            <p>
                Neovisno o odabranoj vidljivosti profila, svim podacima koje ste unijeli u sustav mogu pristupiti razvojni programeri i 
                upravitelj baze podataka zaposleni u PronađiPosao.<br>
                U slučaju zahtjeva nadležnog tijela za pristupom podacima ili zakonske obveze pristup podacima će biti omogućen.
            </p>   
            <h6>5.1 Podaci profila</h6>
            <p>Ako ste odabrali <b>javnu</b> vidljivost profila: Vašim podacima profila mogu pristupiti svi poslodavci koji su registrirani
            na platformi PronađiPosao.<br>
            Ako ste odabrali <b>privatnu</b> vidljivost profila: Vašim podacima profila mogu pristupiti samo oni poslodavci na čije nearhivirane
            oglase imate prijave.</p>
            <h6>5.2 Podaci o prijavi</h6>
            <p>Podacima o prijavi koji uključuju oglas na koji ste prijavljeni i unesene odgovore na pitanja mogu pristupiti samo poslodavci
            koji su objavili taj oglas.</p>
            <h6>5.3 Pristup podacima izvan granica Europske unije</h6>
            <p>Poslodavci koji se nalaze u zemljama izvan Europske unije mogu pristupiti vašim podacima. Isti uvjeti korištenja platforme 
                primjenjuju se na poslodavce izvan i unutar Europske unije. Vaši podaci imaju jednaku razinu zaštite neovisno o lokaciji
                poslodavca.
            </p>
        </div>
        <div>
            <h5>6. Prava kandidata</h5>
            <h6>6.1 Pravo na pristup, ispravljanje i brisanje podataka</h6>
            <p>Kandidat ima pravo putem plaftorme pristupiti osobnim podacima koje je podijelio.
                Kandidat ima potpunu kontrolu nad vlastitim podacima profila. Samostalno ih unosi, ispravlja ili briše.<br>
                Podaci koji se mogu ispravljati su podaci profila: ime, prezime, email adresa, broj mobitela, datum rođenja,
                industrija, obrazovanje, lokacija i odabir vidljivosti.
                Podaci koji se ne mogu ispravljati: prijave na oglase i odgovori na prijave. Iako se ti podaci ne mogu ispravljati,
                mogu se brisati. <br>
                Podaci koji se mogu brisati su svi navedeni podaci profila te prijave. Brisanjem prijave iz sustava se brišu i povezani
                odgovori.
                Ako kandidat želi zabraniti obradu podatka, može ga vlastoručno obrisati ili nas kontaktirati.      
            <h6>6.2 Pravo na prigovor</h6>
            <p>
                Kandidat u bilo kojem trenutku može poslati prigovor na obradu osobnih podataka.
            </p>
            <h6>6.3 Pravo na zaborav</h6>  
            <p>Ukoliko kandidat želi u potpunosti izbrisati vlastiti profil s platforme PronađiPosao,
                može to u bilo kojem trenutku učiniti samostalno kroz sustav. Svi podaci, uključujući prijave na oglase, odgovore na pitanja
                i podatke profila se u istom trenutku brišu iz sustava te korisnik više ne postoji u sustavu.
            </p>
        </div>
    </div>
</div>

