<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">PronađiPosao</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
           
            <li class="nav-item active">
              <a class="nav-link" routerLink="/poslodavci" *ngIf="!isUserPoslodavac">Poslodavci</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/kandidati" *ngIf="isUserPoslodavac">Kandidati</a>
            </li>
            <li *ngIf="isUserPoslodavac" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Oglas
              </a>
              <div  class="dropdown-menu" aria-labelledby="navbarDropdown">                
                <a class="nav-link" routerLink="/oglaslist" *ngIf="isAuthenticated && isUserPoslodavac">Moji oglasi</a>
                <a class="nav-link" routerLink="/createoglas" *ngIf="isAuthenticated && isUserPoslodavac">Stvori novi oglas</a>                 
              </div>
            </li>
            <li *ngIf="!isUserPoslodavac" class="nav-item active">
              <a class="nav-link" routerLink="/allOglas">Oglasi</a>
            </li>            
            <li class="nav-item active" *ngIf="isAuthenticated && isUserKandidat">
              <a class="nav-link" routerLink="/prijava/myprijave">Moje prijave</a>
            </li>
            
        </ul>
        <ul *ngIf="isAuthenticated" class="navbar-nav">

          <li class="nav-item dropdown" *ngIf="isAuthenticated && isUserKandidat">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" routerLink="/kandidat/myprofile">Pregledaj profil</a> 
              <a class="nav-link" routerLink="/kandidat/edit">Uredi profil</a>                     
            </div>
          </li>        
          <li class="nav-item dropdown" *ngIf="isAuthenticated && isUserPoslodavac">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" routerLink="/poslodavac/myprofile">Pregledaj profil</a> 
              <a class="nav-link" routerLink="/poslodavac/edit">Uredi profil</a>                     
            </div>
          </li> 
          <li class="nav-item active" *ngIf="isAuthenticated && isUserKandidat">
            <a class="nav-link" routerLink="/obavijesti">Obavijesti</a>
          </li>         
           <li class="nav-item active">
                <a class="nav-link" routerLink="" (click)="logOut()">Odjavi se</a>
           </li>

        </ul>
        <ul *ngIf="!isAuthenticated" class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Prijavi se</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/register">Registracija</a>
        </li>  

      </ul>
    </div>
</nav>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <ul></ul>
    <ul class="navbar-nav footer-list">
    <li class="nav-item active razdvoji">
      <a class="nav-link" routerLink="politikaprivatnosti">Politika zaštite podataka</a>
    </li>    
    <li class="nav-item active">
      <a class="nav-link" routerLink="uvjetikoristenja">Uvjeti korištenja</a>
    </li> 
  </ul>
</nav>
<router-outlet></router-outlet>