<div class="row">
    <div class="col-sm-6" *ngFor="let kandidat of kandidati"> 
        <div class="card text-center border-info"> 
            <div class="card-header text-info">
                Datum prijave: {{kandidat.datumPrijave | date:"dd.MM.yyyy"}}
              </div>
            <div class="card-body">
                <h5 class="card-title"> {{kandidat.ime}} {{kandidat.prezime}}</h5>    
                <p class="card-text">Industrija: {{kandidat.industrija}}</p>            
                <p>Odgovori na pitanja: </p>
                <div *ngFor="let qa of kandidat.odgovori">
                    <p>{{qa.tekstPitanje}} {{qa.tekstOdgovor}}</p>
                </div>
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{kandidat.id}}" role="button" aria-expanded="false"
                     aria-controls="collapseExample{{kandidat.id}}">
                      Pogledaj detalje o kandidatu
                    </a>                        
                </p>
                  <div class="collapse" id="collapseExample{{kandidat.id}}">
                    <div class="card card-body">
                        
                        <p class="card-text">Obrazovanje: {{kandidat.obrazovanje}}</p>
                        <p class="card-text">Datum rođenja: {{kandidat.datumRodenja | date:"dd.MM.yyyy"}} </p>
                        <p class="card-text">Lokacija: {{kandidat.zemlja}}</p>
                        <p class="card-text">Kontakt: {{kandidat.email}} / {{kandidat.brojMobitela}}</p>
                    </div>
                  </div>  
            </div>

        </div>
    </div>
</div>
