<div class="card uvjeti">
    <div class="card-body">
    <h2 class="card-title">Uvjeti korištenja</h2>
    <div>
        <p>
            PronađiPosao je sustav kojeg koriste poslodavci i kandidati.<br>
            Poslodavcima omogućava pronalazak prikladnih kandidata za otvoreno radno mjesto,
            a kandidatima omogućava prijave na oglase za otvorena radna mjesta, štiteći njihove osobne podatke.
        </p>        
    </div>
    <div>
        <h4>Uvod</h4>
        <h5>Općenite odredbe</h5>
        <p>
            <b>Sadržaj uvjeta korištenja: </b>uvjeti i smjernice za korištenje sustava PronađiPosao, prava korisnika sustava.<br>
            <b>Uvjeti korištenja stupaju na snagu: </b>15. lipnja 2021.<br>
            <b>Uvjete korištenja objavljuje: </b>PronađiPosao<br>
        </p>
        <p>
            Prilikom registracije pristajete na poštivanje pravila platforme "PronađiPosao" određenih ovim uvjetima
            korištenja i politikom zaštite podataka. <br>            
            Svako korištenje sustava koje nije u skladu s odredbama uvjeta korištenja i politike zaštite podataka je kršenje 
            uvjeta korištenja i politike zaštite.<br>
            Ispunjavanjem podataka na profilu kandidati i poslodavci daju pristanak na obradu tih podataka u svrhu pronalaska 
            radnog mjesta, odnosno kandidata za radno mjesto. 
            Detalji o pristupu podacima kandidata objašnjeni su u <a href="politikaprivatnosti">politici zaštite podataka</a>. 


        </p>  
        <h5>Kontakt informacije</h5>
            <p>
                <b>Službeni email platforme: </b>pronađiposao@gmail.com<br>
                <b>Predstavnik: </b>Josipa Mataić<br>
                <b>Email predstavnika: </b>josipamataic**@gmail.com<br>
                <b>Broj mobitela: </b>099****075<br>
            </p>    
    </div>
    <div>
        <h5>Definicije</h5> 
        <p><b>Poslodavac </b>je korisnik koji koristi sustav kako bi objavljivao oglase o otvorenim radnim pozicijama,
        postavljao pitanja potrebna za prijavu, pregledavao kandidate prijavljene na oglas i kandidate obavještavao
        o novim oglasima  </p>  
        <p><b>Kandidat </b>je korisnik koji koristi sustav kako bi pregledavao poslodavce i oglase te se prijavljivao
        na oglase.</p>  
        <p><b>Korištenje podataka </b>je prikupljanje i pregled osobnih podataka korisnika unutar sustava.</p>   
        <p><b>Osobni podaci </b>su svi podaci koji se odnose na pojedinca čiji je identitet utvrđen ili se može utvrditi.</p>
        <p><b>Obrada podataka </b>se odnosi na prikupljanje i pregled podataka u sustavu.</p>
        <p><b>Osjetljivi podaci </b>su podaci o rasi, etničkom podrijetlu, političkim stavovima, vjerskim ili
            filozofskim uvjerenjima, biometrijski podaci, zdravstvene podaci, podaci o seksualnoj
            orijentaciji i spolnom životu.
        </p>
    </div>
    <div>
        <h4>Obaveze</h4>
        <h5>Svi korisnici: poslodavci i kandidati</h5>
        <p>
            Moraju:<br>
            Odabranu lozinku za prijavu u sustav držati tajnom.<br> 

            Ne smiju: <br>
            Kreirati profil s lažnim podacima ili podacima koji se ne odnose na njih.
        </p>
    </div>
    <div>
        <h5>Poslodavac</h5>
        <p>
            U svrhu korištenja sustava PronađiPosao, korisnici koji imaju ulogu poslodavca moraju:<br>
            Pridržavati se odredbi navedenih ovim uvjetima i politikom privatnosti.<br>
            Koristiti sustav na profesionalan način i samo u svrhu objavljivanja oglasa i pronalaska prikladnih kandidata.<br>
            Koristiti registrirano ime organizacije u ime koje vrše aktivnosti u sustavu.<br>
            Prilikom postavljanja pitanja potrebnih za prijavu prikupljati samo one podatke koji su primjereni i relevantni za
            prijavu na taj oglas.<br>
            Arhivirati oglase koji više nisu aktivni: u slučaju popunjenog radnog mjesta,
            prestanka potrage za kandidatima za to radno mjesto ili iz bilo kojeg razloga ako više ne postoji
            razlog za prikupljanjem osobnih podataka korisnika.                

        </p>
        <p>
            U svrhu korištenja sustava PronađiPosao, korisnici koji imaju ulogu poslodavca ne smiju:<br>
            Tražiti od kandidata podatake koji nisu relevantni za otvorenu radnu poziciju.<br>
            Koristiti dostupne podatke kandidata za bilo koju drugu svrhu osim pregleda u svrhu pronalaska prikladnih kandidata
            za otvoreno radno mjesto. <br>
            Pokušati nadjačati sigurnosna ograničenja sustava kako bi pristupili podacima kandidata ili 
            poduzeli bilo koju akciju koja nije vidljiva u njihovom korisničkom sučelju.<br>
            Otkriti ili podijeliti podatke koji se nalaze u sustavu (a nisu njihovi) bilo kome tko nema službenu dužnost pregleda 
            tih podataka.<br>
            Kopirati, pohranjivati ili na bilo koji drugi način koristiti osobne podatke kandidata izvan definirane obrade unutar
            sustava.<br>
            Prikupljati osjetljive podatke prilikom postavljanja pitanja na oglas u svrhu prijave.<br>              
        </p>
        <p>
            Ako se primjeti bilo kakvo postupanje koje nije u skladu s odredbama, korisnički račun će biti uklonjen iz sustava 
            te se više neće moći koristiti.<br>
        </p>
    </div>
    <div>
        <h5>Kandidat</h5>
        <p>
            U svrhu korištenja sustava PronađiPosao, korisnici koji imaju ulogu kandidata moraju:<br>
            Pridržavati se odredbi navedenih ovim uvjetima i politikom privatnosti te koristiti sustav samo u svrhu
            prijavljivanja, traženja i informiranja o radnim mjestima.<br>
            Paziti na točnost podataka koje unose i ažurirati ih po potrebi.<br>
            Koristiti stvarno ime na profilu.<br>
            Imati više od 16 godina.<br>            
        </p>
        <p>
            U svrhu korištenja sustava PronađiPosao, korisnici koji imaju ulogu kandidata ne smiju:<br>
            Pokušati pristupati informacijama za koje ne postoji pristup u korisničkom sučelju.<br>
            Pokušati koristiti tuđi račun ili dijeliti tuđe podatke na vlastitom računu.<br>
            Biti mlađi od 16 godina.<br>
        </p>
        <p>
            Ako se primjeti bilo kakvo postupanje koje nije u skladu s odredbama, korisnički račun će biti uklonjen iz sustava 
            te se više neće moći koristiti.<br>
        </p>              
    </div>
    <div>
        <h5>Način ostvarivanja prava u sustavu</h5>
        <h6>Pravo na pristup</h6>
        <p>
            Kandidat ima pristup svim podacima u sustavu koji se odnose na njega.
        </p>
        <h6>
            Pravo na ispravljanje
        </h6>
        <p>
            Kandidat ostvaruje pravo ispravljanja podataka u sustavu samostalnim ispravkom podataka. 
            Određene podatke, radi olakšanja korištenja sustava poslodavcima, kandidat ne može ispravljati ali 
            ih može obrisati i ponovo unijeti.
        </p>
        <h6>Pravo na brisanje i zaborav</h6>
        <p> 
            Kandidat samostalno briše podatke iz sustava. Odabirom brisanja, podaci se odmah, bez odgađanja,
            brišu iz baze podataka i više im nitko ne može pristupiti kroz sustav.<br>
            Ako kandidat želi u potpunosti biti izbrisan iz sustava (pravo na zaborav), samostalno može obrisati korisnički račun.
        </p>
        <h6>Pravo na prigovor</h6>
        <p>
            Kandidat može uložiti prigovor na obradu osobnih podataka koji se odnose na njega. 
            Može se uspostaviti kontakt kroz službene email adresu ili broj telefona.
            Svaku sumnju na kršenje prava zaštite osobnih podataka kandidat može dojaviti Nadzornom tijelu zaštite osobnih podataka:
            nadzorGDPR@gmail.com      
        </p>
        <h5>Pristanak</h5>
        <p>Kandidat daje pristanak za obradu vlastitih podataka u svrhu prijave na otvorena radna mjesta i 
            pretragu njihovih podataka u svrhu pronalaska prikladnih kandidata za otvoreno radno mjesto.            
        </p>
    </div>        
</div>

</div>