.center{
   
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.row{
    padding-left: 2%;
    padding-bottom: 5%;
}

.og{
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
}